#taskScreen {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mainTask {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0px 20px 40px 20px;
}

.taskList {
  height: auto;
  padding: 0;
  width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.taskContent {
  height: 100%;
  width: 100%;
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footerTask {
  text-align: center;
  letter-spacing: 1.2px;
  padding-bottom: 20px;
}

.formTask {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  opacity: 0;
  height: 0px;
  transition: height 0.3s ease-out, opacity 0.2s ease-out;
}

.formTask h2 {
  font-size: 24px;
}

.controlFormTaks {
  margin: 30px auto 35px auto;
  width: 720px;
  background-color: transparent;
  position: relative;
}

.buttonFormTaks {
  position: absolute;
  top: -20px;
  right: -10px;
  margin-right: 0px;
}

.openControlFormTaks {
  height: 200px;
  opacity: 1;
}

@media (min-width: 540px) and (max-width: 768px) {
  .taskList {
    width: 500px;
  }

  .controlFormTaks {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .taskList {
    width: 330px;
  }

  .controlFormTaks {
    width: 330px;
  }

  .formTask h2 {
    font-size: 21px;
  }

  .buttonFormTaks {
    right: -20px;
  }
}

@media (max-width: 340px) {
  .taskList {
    width: 240px;
  }

  .controlFormTaks {
    width: 240px;
  }

  .taskContent {
    padding-top: 130px;
  }

  .controlFormTaks {
    margin-bottom: 30px;
  }
}
