#taskScreen {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.taskList {
  height: auto;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  background-color: cyan;
}

.taskContent {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.mainTask {
  margin: 0 auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 37px;
  gap: 20px;
  padding: 0px 20px 35px 20px;
}

.drawer {
  box-shadow: 0 3px 3px rgba(34, 25, 25, 0.4);
  background-image: none;
  background-color: black;
  color: #fff;
  padding: 30px 20px;
  display: flex;
  justify-content: stretch;
  width: 100%;
  align-items: center;
}

.drawer h1 {
  font-family: "Popins", sans-serif;
  font-size: 28px;
  letter-spacing: 2px;
  text-transform: none;
}

.footerTask {
  text-align: center;
  letter-spacing: 1.2px;
  padding-bottom: 20px;
}
