#watchTaskScreen {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 20px;
}

.headerWatchTask {
  height: 100px;
  width: 100%;
}

.watchTaskContent {
  height: 100vh;
  width: 100%;
}

.mainWatchTask {
  max-width: 500px;
  margin: 0 auto;
}

.formWatchTask {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin-bottom: 40px;
  position: relative;
}

.formWatchTaskLabel {
  height: auto;
  width: 100%;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.1px;
  text-align: left;
}

.formWatchTask textarea {
  width: 100%;
  border: 0;
  padding: 16px;
  border-radius: 8px;
  background-color: #fefefe;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  resize: vertical;
  min-height: 96px;
}

.dateWatchTask {
  color: #29292e;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  top: 0px;
  right: 0px;
}

.footerWatchTask {
  width: 100%;
  text-align: center;
  letter-spacing: 1.2px;
  padding: 0px 20px;
  padding-bottom: 20px;
}

.userInfo {
  display: flex;
  align-items: center;
  margin: 40px 0px;
}

.userInfo img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.userInfo span {
  margin-left: 8px;
  color: #29292e;
  font-weight: 500;
  font-size: 14px;
}

@media (max-width: 540px) {
  .headerWatchTask {
    height: 130px;
  }

  .userInfo {
    margin: 30px 0px;
  }
}
